openapi: 3.0.3
info:
  title: FinSight Financial Education RAG Service API
  description: RAG-powered financial education Q&A with trusted citations
  version: 1.0.0
  
servers:
  - url: https://api.finsight.dev/education
    description: Production server
  - url: http://localhost:8007/education
    description: Development server

security:
  - BearerAuth: []

paths:
  /ask:
    post:
      summary: Ask financial education question with RAG
      tags: [Education Q&A]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationQuery'
      responses:
        '200':
          description: Question answered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationResponse'
        '400':
          description: Invalid question format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ask/stream:
    post:
      summary: Ask question with streaming response
      tags: [Education Q&A]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationQuery'
      responses:
        '200':
          description: Streaming response
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-sent events with answer chunks

  /content:
    get:
      summary: Browse financial education content
      tags: [Content Management]
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [budgeting, investing, saving, debt, insurance, taxes, credit, retirement]
        - name: search
          in: query
          schema:
            type: string
          description: Search within content
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Content retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/EducationalContent'
                  total:
                    type: integer
                  has_more:
                    type: boolean

  /content/{content_id}:
    get:
      summary: Get specific educational content
      tags: [Content Management]
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Content retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationalContentDetail'
        '404':
          description: Content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /feedback:
    post:
      summary: Submit feedback on education response quality
      tags: [Quality Assurance]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationFeedback'
      responses:
        '200':
          description: Feedback submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Feedback submitted for model improvement"

  /topics:
    get:
      summary: Get popular financial education topics
      tags: [Content Management]
      responses:
        '200':
          description: Topics retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EducationTopic'

  /admin/content:
    post:
      summary: Add new educational content (admin only)
      tags: [Admin]
      security:
        - BearerAuth: ['admin']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentCreate'
      responses:
        '201':
          description: Content added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationalContent'
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    EducationQuery:
      type: object
      required:
        - question
      properties:
        question:
          type: string
          minLength: 5
          maxLength: 500
          example: "What's the difference between a Roth IRA and traditional IRA?"
        context:
          type: object
          description: Optional user context for personalized responses
          properties:
            age:
              type: integer
              minimum: 18
              maximum: 100
            income_level:
              type: string
              enum: [low, medium, high]
            investment_experience:
              type: string
              enum: [beginner, intermediate, advanced]
        session_id:
          type: string
          description: Session ID for conversation context

    EducationResponse:
      type: object
      properties:
        answer:
          type: string
          description: Comprehensive answer to the question
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
          description: Sources and references for the answer
        confidence_score:
          type: number
          format: decimal
          minimum: 0
          maximum: 1
          description: Confidence in the answer quality
        related_topics:
          type: array
          items:
            type: string
          description: Suggested related topics to explore
        session_id:
          type: string
        response_time_ms:
          type: integer
          description: Response generation time in milliseconds

    Citation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        author:
          type: string
        source:
          type: string
          description: Publication or website name
        url:
          type: string
          format: uri
          nullable: true
        publication_date:
          type: string
          format: date
          nullable: true
        relevance_score:
          type: number
          format: decimal
          description: How relevant this source is to the question

    EducationalContent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        category:
          type: string
        summary:
          type: string
          description: Brief content summary
        author:
          type: string
        source_citation:
          type: string
        publication_date:
          type: string
          format: date
        is_verified:
          type: boolean
        created_at:
          type: string
          format: date-time

    EducationalContentDetail:
      allOf:
        - $ref: '#/components/schemas/EducationalContent'
        - type: object
          properties:
            content:
              type: string
              description: Full content text
            related_content:
              type: array
              items:
                $ref: '#/components/schemas/EducationalContent'
            view_count:
              type: integer
            average_rating:
              type: number
              format: decimal

    EducationFeedback:
      type: object
      required:
        - session_id
        - rating
      properties:
        session_id:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
          description: User rating of the response quality
        helpful:
          type: boolean
          description: Whether the response was helpful
        accuracy_rating:
          type: integer
          minimum: 1
          maximum: 5
          description: Perceived accuracy of the information
        citation_quality:
          type: integer
          minimum: 1
          maximum: 5
          description: Quality of provided citations
        comments:
          type: string
          maxLength: 1000
          description: Optional feedback comments

    EducationTopic:
      type: object
      properties:
        name:
          type: string
        category:
          type: string
        popularity_score:
          type: number
          format: decimal
        content_count:
          type: integer
        description:
          type: string

    ContentCreate:
      type: object
      required:
        - title
        - content
        - category
        - source_citation
      properties:
        title:
          type: string
          minLength: 5
          maxLength: 200
        content:
          type: string
          minLength: 100
        category:
          type: string
          enum: [budgeting, investing, saving, debt, insurance, taxes, credit, retirement]
        source_citation:
          type: string
          description: Full citation for the content source
        author:
          type: string
        publication_date:
          type: string
          format: date
        external_url:
          type: string
          format: uri

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object